.main-cont{
    width: 94%;
    margin: 0 auto;
    text-align: center;
    display: 'flex';
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1111px){
    .main-cont{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: row;
       gap: 5rem
    }
}